Repository SeleniumHQ/seleniumhq.github.io, pull requests merged in 2024-06, with the labels that each got.

#1754 Added example code to windows and modified text
  examples/java/src/test/java/dev/selenium/interactions/WindowsTest.java
  website_and_docs/content/documentation/webdriver/interactions/windows.en.md
  website_and_docs/content/documentation/webdriver/interactions/windows.ja.md
  website_and_docs/content/documentation/webdriver/interactions/windows.pt-br.md
  website_and_docs/content/documentation/webdriver/interactions/windows.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 3

#1758 added assertion code for using selenium
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.en.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.ja.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.pt-br.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1748 Migrate and update ruby code examples with internet explorer
  examples/ruby/spec/browsers/internet_explorer_spec.rb
  website_and_docs/content/documentation/webdriver/browsers/internet_explorer.en.md
  website_and_docs/content/documentation/webdriver/browsers/internet_explorer.ja.md
  website_and_docs/content/documentation/webdriver/browsers/internet_explorer.pt-br.md
  website_and_docs/content/documentation/webdriver/browsers/internet_explorer.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1761 Update the service lines on IE explorer examples for ruby
  website_and_docs/content/documentation/webdriver/browsers/internet_explorer.en.md
  website_and_docs/content/documentation/webdriver/browsers/internet_explorer.ja.md
  website_and_docs/content/documentation/webdriver/browsers/internet_explorer.pt-br.md
  website_and_docs/content/documentation/webdriver/browsers/internet_explorer.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1771 Updates the safari technology preview example for ruby
  examples/ruby/spec/browsers/safari_spec.rb
  website_and_docs/content/documentation/webdriver/browsers/safari.en.md
  website_and_docs/content/documentation/webdriver/browsers/safari.ja.md
  website_and_docs/content/documentation/webdriver/browsers/safari.pt-br.md
  website_and_docs/content/documentation/webdriver/browsers/safari.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1770 added gethandlecodecsharp
  website_and_docs/content/documentation/webdriver/interactions/windows.en.md
  website_and_docs/content/documentation/webdriver/interactions/windows.ja.md
  website_and_docs/content/documentation/webdriver/interactions/windows.pt-br.md
  website_and_docs/content/documentation/webdriver/interactions/windows.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1772 update feature/getting_started_20240621
  website_and_docs/content/documentation/webdriver/getting_started/_index.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1777 Update ruby-examples.yml
  .github/workflows/ruby-examples.yml
Labels: enhancement, Review effort [1-5]: 2, configuration changes

#1762 Added an example test for to demonstrate options.setAcceptInsecureCerts(true);
  examples/java/src/test/java/dev/selenium/drivers/OptionsTest.java
Labels: tests, Review effort [1-5]: 2

#1773 Move an update locators examples for ruby
  examples/ruby/spec/elements/locators_spec.rb
  website_and_docs/content/documentation/webdriver/elements/locators.en.md
  website_and_docs/content/documentation/webdriver/elements/locators.ja.md
  website_and_docs/content/documentation/webdriver/elements/locators.pt-br.md
  website_and_docs/content/documentation/webdriver/elements/locators.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1783 update feature/first_script_20240625
  website_and_docs/content/documentation/webdriver/getting_started/first_script.zh-cn.md
Labels: documentation, Review effort [1-5]: 1

#1781 Include MIXED output in SM doc
  website_and_docs/content/documentation/selenium_manager.en.md
  website_and_docs/content/documentation/selenium_manager.ja.md
  website_and_docs/content/documentation/selenium_manager.pt-br.md
  website_and_docs/content/documentation/selenium_manager.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1786 Update list.html
  website_and_docs/layouts/downloads/list.html
Labels: enhancement

#1787 Update selenium-clients-and-webdriver-bindings.html
  website_and_docs/layouts/partials/selenium-clients-and-webdriver-bindings.html
Labels: documentation

#1788 update feature/feature/options——20240629
  website_and_docs/content/documentation/webdriver/drivers/options.zh-cn.md
Labels: documentation, Review effort [1-5]: 1

#1790 update feature/service
  website_and_docs/content/documentation/webdriver/drivers/service.zh-cn.md
Labels: documentation, Review effort [1-5]: 2
