Repository SeleniumHQ/seleniumhq.github.io, pull requests merged in 2024-07, with the labels that each got.

#1791 feature/safari_20240701
  website_and_docs/content/documentation/webdriver/browsers/safari.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1792 Add dev partnership blog post for BrowserStack
  website_and_docs/content/blog/2024/browserstack-selenium-partnership.md
Labels: documentation, Review effort [1-5]: 2

#1795 remove announcement banner
  website_and_docs/hugo.toml
Labels: enhancement, Review effort [1-5]: 1

#1793 Blog for Selenium <> Sauce Labs partnership
  website_and_docs/content/blog/2024/browserstack-selenium-partnership.md
  website_and_docs/content/blog/2024/saucelabs-selenium-partnership.md
  website_and_docs/static/images/blog/saucelabs-selenium-partnership.jpeg
Labels: documentation, Review effort [1-5]: 2

#1774 add csharpwindowscommands
  examples/dotnet/SeleniumDocs/Interactions/WindowsTest.cs
  website_and_docs/content/documentation/webdriver/interactions/windows.en.md
  website_and_docs/content/documentation/webdriver/interactions/windows.ja.md
  website_and_docs/content/documentation/webdriver/interactions/windows.pt-br.md
  website_and_docs/content/documentation/webdriver/interactions/windows.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 3

#1799 [rb] Update safari technological review example
  website_and_docs/content/documentation/webdriver/browsers/safari.en.md
  website_and_docs/content/documentation/webdriver/browsers/safari.ja.md
  website_and_docs/content/documentation/webdriver/browsers/safari.pt-br.md
  website_and_docs/content/documentation/webdriver/browsers/safari.zh-cn.md
Labels: documentation, Review effort [1-5]: 1

#1800 [rb] Update finders examples and move them
  examples/ruby/spec/elements/finders_spec.rb
  website_and_docs/content/documentation/webdriver/elements/finders.en.md
  website_and_docs/content/documentation/webdriver/elements/finders.ja.md
  website_and_docs/content/documentation/webdriver/elements/finders.pt-br.md
  website_and_docs/content/documentation/webdriver/elements/finders.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1778 Local driver example of ruby was not linked with correct line number
  website_and_docs/content/documentation/webdriver/drivers/_index.en.md
Labels: documentation, Review effort [1-5]: 1

#1803 Fixing English grammar
  website_and_docs/content/documentation/test_practices/encouraged/page_object_models.en.md
Labels: documentation, Review effort [1-5]: 1

#1815 [rb] Move examples for ruby elements interactions
  examples/ruby/spec/elements/interaction_spec.rb
  website_and_docs/content/documentation/webdriver/elements/interactions.en.md
  website_and_docs/content/documentation/webdriver/elements/interactions.ja.md
  website_and_docs/content/documentation/webdriver/elements/interactions.pt-br.md
  website_and_docs/content/documentation/webdriver/elements/interactions.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1826 [rb] Move information examples
  examples/ruby/spec/elements/information_spec.rb
  website_and_docs/content/documentation/webdriver/elements/information.en.md
  website_and_docs/content/documentation/webdriver/elements/information.ja.md
  website_and_docs/content/documentation/webdriver/elements/information.pt-br.md
  website_and_docs/content/documentation/webdriver/elements/information.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1828 Create Selenium 4.23.0. release blog
  website_and_docs/content/blog/2024/selenium-4-23-released.md
Labels: documentation, Review effort [1-5]: 2

#1829 Update blogs timestamp and details
  website_and_docs/content/blog/2024/selenium-4-22-released.md
  website_and_docs/content/blog/2024/selenium-4-23-released.md
Labels: documentation, enhancement, Review effort [1-5]: 1

#1830 [blog] Secure against SeleniumGreed
  website_and_docs/content/blog/2024/protecting-unsecured-selenium-grid.md
Labels: documentation, Review effort [1-5]: 1
