Repository SeleniumHQ/seleniumhq.github.io, pull requests merged in 2024-05, with the labels that each got.

#1702 1697 fixed hugo depericate warning custom params
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  README.md
  netlify.toml
  website_and_docs/go.mod
  website_and_docs/go.sum
  website_and_docs/hugo.toml
Labels: documentation, enhancement, Review effort [1-5]: 2

#1704 Add the http client configuration example for ruby
  examples/ruby/spec/drivers/http_client_spec.rb
  website_and_docs/content/documentation/webdriver/drivers/http_client.en.md
  website_and_docs/content/documentation/webdriver/drivers/http_client.ja.md
  website_and_docs/content/documentation/webdriver/drivers/http_client.pt-br.md
  website_and_docs/content/documentation/webdriver/drivers/http_client.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1611 Adding development sponsorship level
  website_and_docs/content/sponsor/_index.html
  website_and_docs/data/sponsors.yml
Labels: enhancement, Review effort [1-5]: 2

#1708 Update http client examples
  website_and_docs/content/documentation/webdriver/drivers/http_client.en.md
  website_and_docs/content/documentation/webdriver/drivers/http_client.ja.md
  website_and_docs/content/documentation/webdriver/drivers/http_client.pt-br.md
  website_and_docs/content/documentation/webdriver/drivers/http_client.zh-cn.md
Labels: documentation, Review effort [1-5]: 1

#1706 Add BiDi events documentation
  website_and_docs/content/documentation/webdriver/bidirectional/webdriver_bidi/browsing_context.en.md
  website_and_docs/content/documentation/webdriver/bidirectional/webdriver_bidi/browsing_context.ja.md
  website_and_docs/content/documentation/webdriver/bidirectional/webdriver_bidi/browsing_context.pt-br.md
  website_and_docs/content/documentation/webdriver/bidirectional/webdriver_bidi/browsing_context.zh-cn.md
  website_and_docs/content/documentation/webdriver/bidirectional/webdriver_bidi/network.en.md
  website_and_docs/content/documentation/webdriver/bidirectional/webdriver_bidi/network.ja.md
  website_and_docs/content/documentation/webdriver/bidirectional/webdriver_bidi/network.pt-br.md
  website_and_docs/content/documentation/webdriver/bidirectional/webdriver_bidi/network.zh-cn.md
  website_and_docs/content/documentation/webdriver/bidirectional/webdriver_bidi/script.en.md
  website_and_docs/content/documentation/webdriver/bidirectional/webdriver_bidi/script.ja.md
  website_and_docs/content/documentation/webdriver/bidirectional/webdriver_bidi/script.pt-br.md
  website_and_docs/content/documentation/webdriver/bidirectional/webdriver_bidi/script.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1713 Create new development sponsors level
  website_and_docs/data/sponsors.yml
  website_and_docs/layouts/home.html
  website_and_docs/layouts/partials/development-level-sponsors.html
  website_and_docs/layouts/partials/footer.html
  website_and_docs/layouts/sponsors/list.html
Labels: enhancement, Review effort [1-5]: 2

#1714 Update BrowserStack URL in sponsors
  website_and_docs/data/sponsors.yml
Labels: enhancement, Review effort [1-5]: 1

#1715 Update Development Sponsor to be Development Partner
  website_and_docs/layouts/partials/development-level-sponsors.html
Labels: enhancement, Review effort [1-5]: 1

#1711 Start adding special features examples
  examples/ruby/spec/browsers/chrome_spec.rb
  website_and_docs/content/documentation/webdriver/browsers/chrome.en.md
  website_and_docs/content/documentation/webdriver/browsers/chrome.ja.md
  website_and_docs/content/documentation/webdriver/browsers/chrome.pt-br.md
  website_and_docs/content/documentation/webdriver/browsers/chrome.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1717 [rb] Add network conditions special features examples
  examples/ruby/spec/browsers/chrome_spec.rb
  website_and_docs/content/documentation/webdriver/browsers/chrome.en.md
  website_and_docs/content/documentation/webdriver/browsers/chrome.ja.md
  website_and_docs/content/documentation/webdriver/browsers/chrome.pt-br.md
  website_and_docs/content/documentation/webdriver/browsers/chrome.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1725 Include SE_CLEAR_CACHE and SE_CLEAR_METADATA in SM doc
  website_and_docs/content/documentation/selenium_manager.en.md
  website_and_docs/content/documentation/selenium_manager.ja.md
  website_and_docs/content/documentation/selenium_manager.pt-br.md
  website_and_docs/content/documentation/selenium_manager.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1727 Update announcement-banner.html
  website_and_docs/layouts/partials/announcement-banner.html
Labels: enhancement, Review effort [1-5]: 1

#1729 Update Custom Node Initialization in Grid Advanced Features
  website_and_docs/content/documentation/grid/advanced_features/customize_node.en.md
  website_and_docs/content/documentation/grid/advanced_features/customize_node.ja.md
  website_and_docs/content/documentation/grid/advanced_features/customize_node.pt-br.md
  website_and_docs/content/documentation/grid/advanced_features/customize_node.zh-cn.md
Labels: enhancement, Review effort [1-5]: 2, bug_fix

#1730 Log examples added for Ruby using Chrome
  examples/ruby/spec/browsers/chrome_spec.rb
  website_and_docs/content/documentation/webdriver/browsers/chrome.en.md
  website_and_docs/content/documentation/webdriver/browsers/chrome.ja.md
  website_and_docs/content/documentation/webdriver/browsers/chrome.pt-br.md
  website_and_docs/content/documentation/webdriver/browsers/chrome.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1731 Add permissions examples and update the log examples
  examples/ruby/spec/browsers/chrome_spec.rb
  website_and_docs/content/documentation/webdriver/browsers/chrome.en.md
  website_and_docs/content/documentation/webdriver/browsers/chrome.ja.md
  website_and_docs/content/documentation/webdriver/browsers/chrome.pt-br.md
  website_and_docs/content/documentation/webdriver/browsers/chrome.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1738 modified a small text
  website_and_docs/content/documentation/about/copyright.en.md
Labels: documentation, Review effort [1-5]: 1

#1736 Post for Multi-Arch Images via Docker Selenium
  website_and_docs/content/blog/2024/multi-arch-images-via-docker-selenium.md
Labels: documentation, Review effort [1-5]: 2

#1740 Add all special features examples for edge using ruby
  examples/ruby/spec/browsers/edge_spec.rb
  website_and_docs/content/documentation/webdriver/browsers/edge.en.md
  website_and_docs/content/documentation/webdriver/browsers/edge.ja.md
  website_and_docs/content/documentation/webdriver/browsers/edge.pt-br.md
  website_and_docs/content/documentation/webdriver/browsers/edge.zh-cn.md
Labels: documentation, tests, Review effort [1-5]: 2

#1739 [js] update the doc in virtual_authenticator.md
  examples/javascript/test/virtual_authenticator/virtualAuthenticator.spec.js
  website_and_docs/content/documentation/webdriver/interactions/virtual_authenticator.en.md
  website_and_docs/content/documentation/webdriver/interactions/virtual_authenticator.ja.md
  website_and_docs/content/documentation/webdriver/interactions/virtual_authenticator.pt-br.md
  website_and_docs/content/documentation/webdriver/interactions/virtual_authenticator.zh-cn.md
Labels: documentation, tests, Review effort [1-5]: 2

#1744 Add firefox special features using ruby and migrate examples
  examples/ruby/spec/browsers/firefox_spec.rb
  website_and_docs/content/documentation/webdriver/browsers/firefox.en.md
  website_and_docs/content/documentation/webdriver/browsers/firefox.ja.md
  website_and_docs/content/documentation/webdriver/browsers/firefox.pt-br.md
  website_and_docs/content/documentation/webdriver/browsers/firefox.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1728 interactions of elements csharp code added in github
  examples/dotnet/SeleniumDocs/Elements/InteractionTest.cs
  website_and_docs/content/documentation/webdriver/elements/interactions.en.md
  website_and_docs/content/documentation/webdriver/elements/interactions.ja.md
  website_and_docs/content/documentation/webdriver/elements/interactions.pt-br.md
  website_and_docs/content/documentation/webdriver/elements/interactions.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2
