Repository SeleniumHQ/seleniumhq.github.io, pull requests merged in 2024-08, with the labels that each got.

#1833 Adding the required JVM Arguments to handle Arabic Locale
  website_and_docs/content/documentation/webdriver/browsers/_index.en.md
Labels: documentation, Review effort [1-5]: 1

#1835 [java] Add high-level BiDi API log examples
  examples/java/src/test/java/dev/selenium/bidirectional/webdriver_bidi/high_level/LogTest.java
Labels: tests, Review effort [1-5]: 2

#1837 [rb] Move documentation examples for general interactions and navigation
  examples/ruby/spec/interactions/browser_spec.rb
  examples/ruby/spec/interactions/navigation_spec.rb
  website_and_docs/content/documentation/webdriver/interactions/_index.en.md
  website_and_docs/content/documentation/webdriver/interactions/_index.ja.md
  website_and_docs/content/documentation/webdriver/interactions/_index.pt-br.md
  website_and_docs/content/documentation/webdriver/interactions/_index.zh-cn.md
  website_and_docs/content/documentation/webdriver/interactions/navigation.en.md
  website_and_docs/content/documentation/webdriver/interactions/navigation.ja.md
  website_and_docs/content/documentation/webdriver/interactions/navigation.pt-br.md
  website_and_docs/content/documentation/webdriver/interactions/navigation.zh-cn.md
Labels: documentation, tests, Review effort [1-5]: 2

#1834 [js] Add high-level script API examples
  examples/javascript/test/bidirectional/w3c/log.js
Labels: tests, Review effort [1-5]: 3

#1838 added csharp code and update documents
  examples/dotnet/SeleniumDocs/Elements/InformationTest.cs
  website_and_docs/content/documentation/webdriver/elements/information.en.md
  website_and_docs/content/documentation/webdriver/elements/information.ja.md
  website_and_docs/content/documentation/webdriver/elements/information.pt-br.md
  website_and_docs/content/documentation/webdriver/elements/information.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 3

#1845 Update python drivers (options) docs with code examples
  examples/python/tests/drivers/test_options.py
  website_and_docs/content/documentation/webdriver/drivers/_index.en.md
  website_and_docs/content/documentation/webdriver/drivers/_index.ja.md
  website_and_docs/content/documentation/webdriver/drivers/_index.pt-br.md
  website_and_docs/content/documentation/webdriver/drivers/_index.zh-cn.md
  website_and_docs/content/documentation/webdriver/drivers/options.en.md
  website_and_docs/content/documentation/webdriver/drivers/options.ja.md
  website_and_docs/content/documentation/webdriver/drivers/options.pt-br.md
  website_and_docs/content/documentation/webdriver/drivers/options.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1849 [blog] Welcoming puppeteer to the webdriver world
  website_and_docs/content/blog/2024/welcoming-puppeteer-to-the-webdriver-world.md
Labels: documentation, Review effort [1-5]: 1

#1848 [js] Add service example
  examples/javascript/test/drivers/service.spec.js
Labels: tests, Review effort [1-5]: 2

#1856 [java] fix line numbers in install_library.md
  website_and_docs/content/documentation/webdriver/getting_started/install_library.en.md
  website_and_docs/content/documentation/webdriver/getting_started/install_library.ja.md
  website_and_docs/content/documentation/webdriver/getting_started/install_library.pt-br.md
  website_and_docs/content/documentation/webdriver/getting_started/install_library.zh-cn.md
Labels: documentation, Review effort [1-5]: 1

#1860 [rb] Migrate alert examples and add disable search engine choice
  examples/ruby/Gemfile
  examples/ruby/Gemfile.lock
  examples/ruby/spec/interactions/alerts_spec.rb
  examples/ruby/spec/spec_helper.rb
  website_and_docs/content/documentation/webdriver/interactions/alerts.en.md
  website_and_docs/content/documentation/webdriver/interactions/alerts.ja.md
  website_and_docs/content/documentation/webdriver/interactions/alerts.pt-br.md
  website_and_docs/content/documentation/webdriver/interactions/alerts.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1863 update feature/chrome
  website_and_docs/content/documentation/webdriver/bidi/cdp/_index.zh-cn.md
  website_and_docs/content/documentation/webdriver/browsers/chrome.zh-cn.md
Labels: documentation, Review effort [1-5]: 3

#1861 Added Example for Running Python Script to first_script.mds
  examples/python/README.md
  website_and_docs/content/documentation/webdriver/getting_started/first_script.en.md
  website_and_docs/content/documentation/webdriver/getting_started/first_script.ja.md
  website_and_docs/content/documentation/webdriver/getting_started/first_script.pt-br.md
  website_and_docs/content/documentation/webdriver/getting_started/first_script.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1865 Innazh/add browser options examples java
  .github/workflows/java-examples.yml
  examples/java/src/test/java/dev/selenium/drivers/OptionsTest.java
  website_and_docs/content/documentation/webdriver/drivers/options.en.md
  website_and_docs/content/documentation/webdriver/drivers/options.ja.md
  website_and_docs/content/documentation/webdriver/drivers/options.pt-br.md
  website_and_docs/content/documentation/webdriver/drivers/options.zh-cn.md
Labels: documentation, tests, Review effort [1-5]: 2

#1853 Create chrome-browser-woes
  website_and_docs/content/blog/2024/chrome-browser-woes.md
Labels: documentation, Review effort [1-5]: 1

#1872 added python execution scripts to Using Selenium
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.en.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.ja.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.pt-br.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.zh-cn.md
Labels: documentation, Review effort [1-5]: 1

#1873 added feature #1539 to each translation
  website_and_docs/content/documentation/webdriver/elements/finders.en.md
  website_and_docs/content/documentation/webdriver/elements/finders.ja.md
  website_and_docs/content/documentation/webdriver/elements/finders.pt-br.md
  website_and_docs/content/documentation/webdriver/elements/finders.zh-cn.md
Labels: Review effort [1-5]: 2

#1874 Add blog post decribing 'HtmlUnit Remote'
  website_and_docs/content/blog/2024/htmlunit-remote-for-selenium-4-grid.md
Labels: documentation

#1880 added locator section for Bug #1393
  website_and_docs/content/documentation/webdriver/elements/locators.en.md
  website_and_docs/content/documentation/webdriver/elements/locators.ja.md
  website_and_docs/content/documentation/webdriver/elements/locators.pt-br.md
  website_and_docs/content/documentation/webdriver/elements/locators.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1881 added documentation for invalid session id exception
  website_and_docs/content/documentation/webdriver/troubleshooting/errors/_index.en.md
  website_and_docs/content/documentation/webdriver/troubleshooting/errors/_index.ja.md
  website_and_docs/content/documentation/webdriver/troubleshooting/errors/_index.pt-br.md
  website_and_docs/content/documentation/webdriver/troubleshooting/errors/_index.zh-cn.md
Labels: documentation, Review effort [1-5]: 1

#1884 Xpath note rearrangement
  website_and_docs/content/documentation/webdriver/drivers/_index.en.md
  website_and_docs/content/documentation/webdriver/drivers/_index.ja.md
  website_and_docs/content/documentation/webdriver/drivers/_index.pt-br.md
  website_and_docs/content/documentation/webdriver/drivers/_index.zh-cn.md
  website_and_docs/content/documentation/webdriver/elements/finders.en.md
  website_and_docs/content/documentation/webdriver/elements/finders.ja.md
  website_and_docs/content/documentation/webdriver/elements/finders.pt-br.md
  website_and_docs/content/documentation/webdriver/elements/finders.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1893 Added missing badgecodes
  website_and_docs/content/documentation/selenium_manager.en.md
  website_and_docs/content/documentation/selenium_manager.ja.md
  website_and_docs/content/documentation/selenium_manager.pt-br.md
  website_and_docs/content/documentation/selenium_manager.zh-cn.md
Labels: documentation, Review effort [1-5]: 1

#1888 Removed erroneous remaining badge-code tags
  website_and_docs/content/documentation/webdriver/drivers/_index.en.md
  website_and_docs/content/documentation/webdriver/drivers/_index.ja.md
  website_and_docs/content/documentation/webdriver/drivers/_index.pt-br.md
  website_and_docs/content/documentation/webdriver/drivers/_index.zh-cn.md
  website_and_docs/content/documentation/webdriver/getting_started/first_script.en.md
  website_and_docs/content/documentation/webdriver/getting_started/first_script.ja.md
  website_and_docs/content/documentation/webdriver/getting_started/first_script.pt-br.md
  website_and_docs/content/documentation/webdriver/getting_started/first_script.zh-cn.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.en.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.ja.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.pt-br.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.zh-cn.md
Labels: documentation, Review effort [1-5]: 1

#1892 Added breakpoints b/w coding examples in Installing Selenium
  website_and_docs/content/documentation/webdriver/getting_started/install_library.en.md
  website_and_docs/content/documentation/webdriver/getting_started/install_library.ja.md
  website_and_docs/content/documentation/webdriver/getting_started/install_library.pt-br.md
  website_and_docs/content/documentation/webdriver/getting_started/install_library.zh-cn.md
Labels: documentation, Review effort [1-5]: 1

#1890 Refined python example in Organizing and Executing Selenium Code
  examples/python/tests/getting_started/using_selenium_tests.py
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.en.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.ja.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.pt-br.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1887 added shadow dom documentation to finders in all translations #1070
  website_and_docs/content/documentation/webdriver/elements/finders.en.md
  website_and_docs/content/documentation/webdriver/elements/finders.ja.md
  website_and_docs/content/documentation/webdriver/elements/finders.pt-br.md
  website_and_docs/content/documentation/webdriver/elements/finders.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1896 removed hanging '>'
  website_and_docs/content/documentation/webdriver/elements/locators.en.md
  website_and_docs/content/documentation/webdriver/elements/locators.ja.md
  website_and_docs/content/documentation/webdriver/elements/locators.pt-br.md
  website_and_docs/content/documentation/webdriver/elements/locators.zh-cn.md
Labels: documentation, Review effort [1-5]: 1

#1897 added badge codes and fixed ruby code example
  website_and_docs/content/documentation/webdriver/elements/finders.en.md
  website_and_docs/content/documentation/webdriver/elements/finders.ja.md
  website_and_docs/content/documentation/webdriver/elements/finders.pt-br.md
  website_and_docs/content/documentation/webdriver/elements/finders.zh-cn.md
Labels: documentation, Review effort [1-5]: 1

#1899 update hugo version to 0.125.4 in contribute, to avoid build error
  website_and_docs/content/documentation/about/contributing.en.md
  website_and_docs/content/documentation/about/contributing.ja.md
  website_and_docs/content/documentation/about/contributing.pt-br.md
  website_and_docs/content/documentation/about/contributing.zh-cn.md
Labels: documentation, Review effort [1-5]: 1

#1910 fixed explicit wait javascript example
  website_and_docs/content/documentation/webdriver/waits.en.md
  website_and_docs/content/documentation/webdriver/waits.ja.md
  website_and_docs/content/documentation/webdriver/waits.pt-br.md
  website_and_docs/content/documentation/webdriver/waits.zh-cn.md
Labels: documentation, Review effort [1-5]: 1
