Repository SeleniumHQ/seleniumhq.github.io, pull requests merged in 2024-10, with the labels that each got.

#1974 Update endpoint URLs point to Router in distributed mode
  website_and_docs/content/documentation/grid/advanced_features/endpoints.en.md
  website_and_docs/content/documentation/grid/advanced_features/endpoints.ja.md
  website_and_docs/content/documentation/grid/advanced_features/endpoints.pt-br.md
  website_and_docs/content/documentation/grid/advanced_features/endpoints.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1982 Edit code reference (L18->L19) to align Python example with other languages (programming languages and spoken languages)
  website_and_docs/content/documentation/webdriver/getting_started/first_script.en.md
Labels: documentation, Review effort [1-5]: 1

#1949 Updated Design Patterns And Development Strategies' Example Scripts
  website_and_docs/content/documentation/test_practices/design_strategies.en.md
  website_and_docs/content/documentation/test_practices/design_strategies.ja.md
  website_and_docs/content/documentation/test_practices/design_strategies.pt-br.md
  website_and_docs/content/documentation/test_practices/design_strategies.zh-cn.md
Labels: enhancement, Review effort [1-5]: 3

#1992 Fixed Incorrect Example Lines in PrintOptions Page
  website_and_docs/content/documentation/webdriver/interactions/print_page.en.md
  website_and_docs/content/documentation/webdriver/interactions/print_page.ja.md
  website_and_docs/content/documentation/webdriver/interactions/print_page.pt-br.md
  website_and_docs/content/documentation/webdriver/interactions/print_page.zh-cn.md
Labels: documentation, Review effort [1-5]: 1

#1993 Added Cs Print Options Examples
  examples/dotnet/SeleniumDocs/Interactions/PrintOptionsTest.cs
  website_and_docs/content/documentation/webdriver/interactions/print_page.en.md
  website_and_docs/content/documentation/webdriver/interactions/print_page.ja.md
  website_and_docs/content/documentation/webdriver/interactions/print_page.pt-br.md
  website_and_docs/content/documentation/webdriver/interactions/print_page.zh-cn.md
Labels: documentation, tests, Review effort [1-5]: 2

#2000 Added Python Examples for PrintOptions()
  examples/python/tests/interactions/test_print_options.py
  website_and_docs/content/documentation/webdriver/interactions/print_page.en.md
  website_and_docs/content/documentation/webdriver/interactions/print_page.ja.md
  website_and_docs/content/documentation/webdriver/interactions/print_page.pt-br.md
  website_and_docs/content/documentation/webdriver/interactions/print_page.zh-cn.md
Labels: Review effort [1-5]: 2, hacktoberfest-accepted

#2004 Local driver examples added (Creating Sessions)
  website_and_docs/content/documentation/webdriver/drivers/_index.en.md
  website_and_docs/content/documentation/webdriver/drivers/_index.ja.md
  website_and_docs/content/documentation/webdriver/drivers/_index.pt-br.md
  website_and_docs/content/documentation/webdriver/drivers/_index.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#2003 Incorrect Hugo syntax fixed, for driver.quit()
  website_and_docs/content/documentation/webdriver/drivers/_index.en.md
  website_and_docs/content/documentation/webdriver/drivers/_index.ja.md
  website_and_docs/content/documentation/webdriver/drivers/_index.pt-br.md
  website_and_docs/content/documentation/webdriver/drivers/_index.zh-cn.md
Labels: documentation, Review effort [1-5]: 2, Bug fix

#2001 Blog for Selenium 20th Milestone Event
  website_and_docs/content/blog/2024/selenium-milestone-20yrs-blog.md
  website_and_docs/static/images/blog/2024/20-selenium.jpg
Labels: documentation, Review effort [1-5]: 2

#2007 Fix : Invalid line numbers reference on style page
  website_and_docs/content/documentation/about/style.en.md
  website_and_docs/content/documentation/about/style.ja.md
  website_and_docs/content/documentation/about/style.pt-br.md
  website_and_docs/content/documentation/about/style.zh-cn.md
Labels: Review effort [1-5]: 2

#2005 Added PrintsPage section; added Java Examples to section
  examples/java/src/test/java/dev/selenium/interactions/PrintsPageTest.java
  website_and_docs/content/documentation/webdriver/interactions/print_page.en.md
  website_and_docs/content/documentation/webdriver/interactions/print_page.ja.md
  website_and_docs/content/documentation/webdriver/interactions/print_page.pt-br.md
  website_and_docs/content/documentation/webdriver/interactions/print_page.zh-cn.md
Labels: documentation, tests, Review effort [1-5]: 3, hacktoberfest-accepted

#2016 [dotnet] Unify the link .net api docs
  website_and_docs/layouts/partials/selenium-clients-and-webdriver-bindings.html
Labels: Review effort [1-5]: 1

#2009 Added Python Example to PrintPage Documentation
  examples/python/tests/interactions/test_prints_page.py
  website_and_docs/content/documentation/webdriver/interactions/print_page.en.md
  website_and_docs/content/documentation/webdriver/interactions/print_page.ja.md
  website_and_docs/content/documentation/webdriver/interactions/print_page.pt-br.md
  website_and_docs/content/documentation/webdriver/interactions/print_page.zh-cn.md
Labels: documentation, tests, Review effort [1-5]: 2, hacktoberfest-accepted

#2018 Update _index.html, adding a Ellithium to the selenium ecosystem
  website_and_docs/content/ecosystem/_index.html
Labels: Review effort [1-5]: 1

#2010 Updated Python Examples for Options
  examples/python/tests/drivers/test_options.py
  website_and_docs/content/documentation/webdriver/drivers/options.en.md
  website_and_docs/content/documentation/webdriver/drivers/options.ja.md
  website_and_docs/content/documentation/webdriver/drivers/options.pt-br.md
  website_and_docs/content/documentation/webdriver/drivers/options.zh-cn.md
Labels: documentation, tests, Review effort [1-5]: 3, hacktoberfest-accepted

#2027 chore: fix markdown errors
  CONTRIBUTING.md
  GOVERNANCE.md
  README.md
Labels: Review effort [1-5]: 1

#2022 [grid]: Update CLI options aligned with version 4.26.0
  website_and_docs/content/documentation/grid/configuration/cli_options.en.md
  website_and_docs/content/documentation/grid/configuration/cli_options.ja.md
  website_and_docs/content/documentation/grid/configuration/cli_options.pt-br.md
  website_and_docs/content/documentation/grid/configuration/cli_options.zh-cn.md
Labels: Review effort [1-5]: 2

#2029 Japanese translations for WebDriver topics
  website_and_docs/content/documentation/webdriver/actions_api/_index.ja.md
  website_and_docs/content/documentation/webdriver/bidi/_index.ja.md
  website_and_docs/content/documentation/webdriver/browsers/_index.ja.md
  website_and_docs/content/documentation/webdriver/browsers/chrome.ja.md
  website_and_docs/content/documentation/webdriver/browsers/edge.ja.md
  website_and_docs/content/documentation/webdriver/browsers/firefox.ja.md
  website_and_docs/content/documentation/webdriver/browsers/internet_explorer.ja.md
  website_and_docs/content/documentation/webdriver/browsers/safari.ja.md
  website_and_docs/content/documentation/webdriver/drivers/http_client.ja.md
  website_and_docs/content/documentation/webdriver/drivers/options.ja.md
  website_and_docs/content/documentation/webdriver/drivers/remote_webdriver.ja.md
  website_and_docs/content/documentation/webdriver/drivers/service.ja.md
  website_and_docs/content/documentation/webdriver/getting_started/_index.ja.md
  website_and_docs/content/documentation/webdriver/getting_started/first_script.ja.md
  website_and_docs/content/documentation/webdriver/getting_started/install_library.ja.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.ja.md
  website_and_docs/content/documentation/webdriver/interactions/_index.ja.md
  website_and_docs/content/documentation/webdriver/support_features/_index.ja.md
  website_and_docs/content/documentation/webdriver/troubleshooting/_index.ja.md
Labels: Review effort [1-5]: 3, hacktoberfest-accepted
