Repository SeleniumHQ/seleniumhq.github.io, pull requests merged in 2024-04, with the labels that each got.

#1612 Broken Links
  website_and_docs/content/blog/2010/going-atomic-how.md
  website_and_docs/content/blog/2010/going-atomic-why.md
  website_and_docs/content/blog/2010/selenium-1-0-2-release-firefox-3-6-and-snow-leopard-support.md
  website_and_docs/content/blog/2010/selenium-1-0-3-released.md
  website_and_docs/content/blog/2010/selenium-2-0-beta-1-release.md
  website_and_docs/content/blog/2010/selenium-2-0a5-released.md
  website_and_docs/content/blog/2010/selenium-2-0a6-released.md
  website_and_docs/content/blog/2011/bug-bash.md
  website_and_docs/content/blog/2011/selenium-2-0b2-released.md
  website_and_docs/content/blog/2011/selenium-2-0b3-the-next-gen-browser-release.md
  website_and_docs/content/blog/2011/selenium-2-0rc1-the-grid-release.md
  website_and_docs/content/blog/2011/selenium-2-0rc3-the-next-ones-the-big-one-release.md
  website_and_docs/content/blog/2011/selenium-2-1-released.md
  website_and_docs/content/blog/2011/selenium-2-2-released.md
  website_and_docs/content/blog/2011/selenium-2-3-released.md
  website_and_docs/content/blog/2011/selenium-2-6-released.md
  website_and_docs/content/blog/2011/selenium-2-8-released.md
  website_and_docs/content/blog/2011/selenium-joins-the-software-freedom-conservancy.md
  website_and_docs/content/blog/2012/a-smattering-of-selenium-90.md
  website_and_docs/content/blog/2012/selenium-2-16-released-welcome-to-2012.md
  website_and_docs/content/blog/2013/selenium-hangout-2-recap.md
  website_and_docs/content/blog/2013/source-control.md
  website_and_docs/content/blog/2021/announcing-selenium-4.md
  website_and_docs/content/blog/2021/selenium-4-beta-1.md
  website_and_docs/content/documentation/legacy/selenium_2/faq.en.md
  website_and_docs/content/documentation/webdriver/drivers/remote_webdriver.en.md
  website_and_docs/content/documentation/webdriver/drivers/remote_webdriver.ja.md
  website_and_docs/content/documentation/webdriver/drivers/remote_webdriver.pt-br.md
  website_and_docs/content/documentation/webdriver/drivers/remote_webdriver.zh-cn.md
  website_and_docs/content/meetings/2023/joint-03-31.md
Labels: documentation, enhancement, Review effort [1-5]: 1

#1649 Add ruby examples for the using selenium page
  examples/ruby/spec/getting_started/using_selenium_spec.rb
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.en.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.ja.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.pt-br.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1663 Javascript single test file execution
  examples/javascript/README.md
  website_and_docs/content/documentation/webdriver/getting_started/first_script.en.md
  website_and_docs/content/documentation/webdriver/getting_started/first_script.ja.md
  website_and_docs/content/documentation/webdriver/getting_started/first_script.pt-br.md
  website_and_docs/content/documentation/webdriver/getting_started/first_script.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 1

#1672 Add example for asserting with java on getting_started/using_selenium
  examples/java/src/test/java/dev/selenium/getting_started/UsingSeleniumTest.java
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.en.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.ja.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.pt-br.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1674 Adding Bright Data as Selenium level sponsor
  website_and_docs/data/sponsors.yml
  website_and_docs/static/images/sponsors/bright-data.png
Labels: enhancement, Review effort [1-5]: 1

#1668 Start the work for the options page
  examples/ruby/spec/drivers/options_spec.rb
  website_and_docs/content/documentation/webdriver/drivers/options.en.md
  website_and_docs/content/documentation/webdriver/drivers/options.ja.md
  website_and_docs/content/documentation/webdriver/drivers/options.pt-br.md
  website_and_docs/content/documentation/webdriver/drivers/options.zh-cn.md
  website_and_docs/content/documentation/webdriver/troubleshooting/upgrade_to_selenium_4.en.md
  website_and_docs/content/documentation/webdriver/troubleshooting/upgrade_to_selenium_4.ja.md
  website_and_docs/content/documentation/webdriver/troubleshooting/upgrade_to_selenium_4.pt-br.md
  website_and_docs/content/documentation/webdriver/troubleshooting/upgrade_to_selenium_4.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1676 Update announcement-banner.html foe SeConf CFP
  website_and_docs/layouts/partials/announcement-banner.html
Labels: enhancement, Review effort [1-5]: 2

#1677 Trying to use nightly
  .github/workflows/dotnet-examples.yml
  examples/dotnet/SeleniumDocs/SeleniumDocs.csproj
Labels: enhancement, Review effort [1-5]: 2

#1678 Update list CLI options
  website_and_docs/content/documentation/grid/configuration/cli_options.en.md
  website_and_docs/content/documentation/grid/configuration/cli_options.ja.md
  website_and_docs/content/documentation/grid/configuration/cli_options.pt-br.md
  website_and_docs/content/documentation/grid/configuration/cli_options.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1682 Nightly and Stable for JS and DotNet
  .github/workflows/dotnet-examples.yml
  .github/workflows/js-examples.yml
  examples/dotnet/SeleniumDocs/SeleniumDocs.csproj
  examples/javascript/package.nightly.json
Labels: enhancement, configuration changes, Review effort [1-5]: 3

#1683 [grid] update list CLI/TOML options
  website_and_docs/content/documentation/grid/configuration/cli_options.en.md
  website_and_docs/content/documentation/grid/configuration/cli_options.ja.md
  website_and_docs/content/documentation/grid/configuration/cli_options.pt-br.md
  website_and_docs/content/documentation/grid/configuration/cli_options.zh-cn.md
  website_and_docs/content/documentation/grid/configuration/toml_options.en.md
  website_and_docs/content/documentation/grid/configuration/toml_options.ja.md
  website_and_docs/content/documentation/grid/configuration/toml_options.pt-br.md
  website_and_docs/content/documentation/grid/configuration/toml_options.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1681 tiny grammar change: remove use of word 'so'
  website_and_docs/content/documentation/webdriver/waits.en.md
Labels: documentation, Review effort [1-5]: 1

#1685 Update nightly version
  .github/workflows/dotnet-examples.yml
  .github/workflows/java-examples.yml
  .github/workflows/js-examples.yml
  .github/workflows/python-examples.yml
  .github/workflows/ruby-examples.yml
  examples/dotnet/SeleniumDocs/SeleniumDocs.csproj
  examples/java/pom.xml
  examples/javascript/package.nightly.json
  examples/ruby/Gemfile
  examples/ruby/Gemfile.lock
  scripts/latest-nightly-version.ps1
  scripts/latest-nightly-version.sh
Labels: enhancement, tests, Review effort [1-5]: 4

#1688 added python tests for alert interactions
  examples/python/tests/interactions/test_alerts.py
Labels: tests, Review effort [1-5]: 2

#1679 Expand options documentation test and examples for Ruby
  examples/ruby/spec/drivers/options_spec.rb
  website_and_docs/content/documentation/webdriver/drivers/options.en.md
  website_and_docs/content/documentation/webdriver/drivers/options.ja.md
  website_and_docs/content/documentation/webdriver/drivers/options.pt-br.md
  website_and_docs/content/documentation/webdriver/drivers/options.zh-cn.md
  website_and_docs/content/documentation/webdriver/troubleshooting/upgrade_to_selenium_4.en.md
  website_and_docs/content/documentation/webdriver/troubleshooting/upgrade_to_selenium_4.ja.md
  website_and_docs/content/documentation/webdriver/troubleshooting/upgrade_to_selenium_4.pt-br.md
  website_and_docs/content/documentation/webdriver/troubleshooting/upgrade_to_selenium_4.zh-cn.md
Labels: documentation, enhancement, tests, Review effort [1-5]: 2

#1696 added csharp code for navigation command
  examples/dotnet/SeleniumDocs/Interactions/NavigationTest.cs
  website_and_docs/content/documentation/webdriver/interactions/navigation.en.md
  website_and_docs/content/documentation/webdriver/interactions/navigation.ja.md
  website_and_docs/content/documentation/webdriver/interactions/navigation.pt-br.md
  website_and_docs/content/documentation/webdriver/interactions/navigation.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1695 Upgrade selenium 4 ruby examples & rendering issue
  examples/ruby/spec/drivers/options_spec.rb
  website_and_docs/content/documentation/webdriver/drivers/options.en.md
  website_and_docs/content/documentation/webdriver/drivers/options.ja.md
  website_and_docs/content/documentation/webdriver/drivers/options.pt-br.md
  website_and_docs/content/documentation/webdriver/drivers/options.zh-cn.md
  website_and_docs/content/documentation/webdriver/troubleshooting/upgrade_to_selenium_4.en.md
  website_and_docs/content/documentation/webdriver/troubleshooting/upgrade_to_selenium_4.ja.md
  website_and_docs/content/documentation/webdriver/troubleshooting/upgrade_to_selenium_4.pt-br.md
  website_and_docs/content/documentation/webdriver/troubleshooting/upgrade_to_selenium_4.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 3

#1701 Correct wrong file path in options to provide the right browser version ruby example
  website_and_docs/content/documentation/webdriver/drivers/options.en.md
  website_and_docs/content/documentation/webdriver/drivers/options.ja.md
  website_and_docs/content/documentation/webdriver/drivers/options.pt-br.md
  website_and_docs/content/documentation/webdriver/drivers/options.zh-cn.md
Labels: documentation, Review effort [1-5]: 1
