Repository SeleniumHQ/seleniumhq.github.io, pull requests merged in 2024-09, with the labels that each got.

#1915 added code and content for frames
  examples/java/src/test/java/dev/selenium/interactions/FramesTest.java
  website_and_docs/content/documentation/webdriver/interactions/frames.en.md
  website_and_docs/content/documentation/webdriver/interactions/frames.ja.md
  website_and_docs/content/documentation/webdriver/interactions/frames.pt-br.md
  website_and_docs/content/documentation/webdriver/interactions/frames.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 3

#1912 removed hanging badge code
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.en.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.ja.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.pt-br.md
  website_and_docs/content/documentation/webdriver/getting_started/using_selenium.zh-cn.md
Labels: documentation, Review effort [1-5]: 1

#1909 fixed implicit wait javascript example
  website_and_docs/content/documentation/webdriver/waits.en.md
  website_and_docs/content/documentation/webdriver/waits.ja.md
  website_and_docs/content/documentation/webdriver/waits.pt-br.md
  website_and_docs/content/documentation/webdriver/waits.zh-cn.md
Labels: documentation, Review effort [1-5]: 1

#1932 Themed favicon with transparent background
  favicon.ico
Labels: enhancement

#1934 Themed favicon
  website_and_docs/static/favicons/favicon.ico
Labels: enhancement

#1933 Use .net 8 SDK to run dotnet examples
  .github/workflows/dotnet-examples.yml
  examples/dotnet/SeleniumDocs/BiDi/CDP/NetworkTest.cs
  examples/dotnet/SeleniumDocs/SeleniumDocs.csproj
Labels: enhancement, Review effort [1-5]: 2, configuration changes

#1937 Transparent png favicons
  website_and_docs/content/documentation/_index.ja.md
  website_and_docs/content/documentation/_index.pt-br.md
  website_and_docs/content/documentation/_index.zh-cn.md
  website_and_docs/content/documentation/grid/components.en.md
  website_and_docs/content/documentation/grid/components.ja.md
  website_and_docs/content/documentation/grid/components.pt-br.md
  website_and_docs/content/documentation/grid/components.zh-cn.md
  website_and_docs/content/documentation/grid/getting_started.en.md
  website_and_docs/content/documentation/grid/getting_started.ja.md
  website_and_docs/content/documentation/grid/getting_started.pt-br.md
  website_and_docs/content/documentation/grid/getting_started.zh-cn.md
  website_and_docs/content/documentation/overview/_index.ja.md
  website_and_docs/content/documentation/overview/_index.pt-br.md
  website_and_docs/content/documentation/overview/_index.zh-cn.md
  website_and_docs/content/documentation/overview/details.ja.md
  website_and_docs/content/documentation/overview/details.pt-br.md
  website_and_docs/content/documentation/overview/details.zh-cn.md
  website_and_docs/content/documentation/test_practices/overview.en.md
  website_and_docs/content/documentation/test_practices/overview.ja.md
  website_and_docs/content/documentation/test_practices/overview.pt-br.md
  website_and_docs/content/documentation/test_practices/overview.zh-cn.md
  website_and_docs/hugo.toml
  website_and_docs/static/favicons/apple-touch-icon-180x180.png
  website_and_docs/static/favicons/favicon-16x16.png
  website_and_docs/static/favicons/favicon-32x32.png
  website_and_docs/static/favicons/pwa-192x192.png
  website_and_docs/static/favicons/pwa-512x512.png
  website_and_docs/static/favicons/tile150x150.png
  website_and_docs/static/favicons/tile310x310.png
  website_and_docs/static/favicons/tile70x70.png
Labels: documentation, enhancement, Review effort [1-5]: 2

#1911 Added section on ByChained
  examples/java/src/test/java/dev/selenium/elements/LocatorsTest.java
  website_and_docs/content/documentation/webdriver/elements/locators.en.md
  website_and_docs/content/documentation/webdriver/elements/locators.ja.md
  website_and_docs/content/documentation/webdriver/elements/locators.pt-br.md
  website_and_docs/content/documentation/webdriver/elements/locators.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1914 Added ElementClickInterceptedException to all languages
  website_and_docs/content/documentation/webdriver/troubleshooting/errors/_index.en.md
  website_and_docs/content/documentation/webdriver/troubleshooting/errors/_index.ja.md
  website_and_docs/content/documentation/webdriver/troubleshooting/errors/_index.pt-br.md
  website_and_docs/content/documentation/webdriver/troubleshooting/errors/_index.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1939 Added section on ByAll
  examples/java/src/test/java/dev/selenium/elements/LocatorsTest.java
  website_and_docs/content/documentation/webdriver/elements/locators.en.md
  website_and_docs/content/documentation/webdriver/elements/locators.ja.md
  website_and_docs/content/documentation/webdriver/elements/locators.pt-br.md
  website_and_docs/content/documentation/webdriver/elements/locators.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1942 Update _index.zh-cn.md
  website_and_docs/content/documentation/webdriver/bidi/cdp/_index.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1950 Add documentation to show the alternative use of an environment variable
  website_and_docs/content/documentation/selenium_manager.en.md
  website_and_docs/content/documentation/selenium_manager.ja.md
  website_and_docs/content/documentation/selenium_manager.pt-br.md
  website_and_docs/content/documentation/selenium_manager.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1957 Use new dotnet brand
  website_and_docs/layouts/partials/selenium-clients-and-webdriver-bindings.html
  website_and_docs/layouts/partials/selenium-nightly-builds.html
  website_and_docs/static/images/programming/csharp.svg
  website_and_docs/static/images/programming/dotnet.svg
Labels: documentation, Review effort [1-5]: 1

#1960 Add release notes for docker-selenium 4.25.0
  website_and_docs/content/blog/2024/selenium-4-25-released.md
Labels: documentation, Review effort [1-5]: 2

#1948 Added more detail to Avoid Sharing State Documentation
  website_and_docs/content/documentation/test_practices/encouraged/avoid_sharing_state.en.md
  website_and_docs/content/documentation/test_practices/encouraged/avoid_sharing_state.ja.md
  website_and_docs/content/documentation/test_practices/encouraged/avoid_sharing_state.pt-br.md
  website_and_docs/content/documentation/test_practices/encouraged/avoid_sharing_state.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1965 added python example for enabling BiDi
  website_and_docs/content/documentation/webdriver/bidi/_index.en.md
Labels: documentation, Review effort [1-5]: 1

#1958 added interaction csharp code
  examples/dotnet/SeleniumDocs/Interactions/InteractionsTest.cs
  website_and_docs/content/documentation/webdriver/interactions/_index.en.md
  website_and_docs/content/documentation/webdriver/interactions/_index.ja.md
  website_and_docs/content/documentation/webdriver/interactions/_index.pt-br.md
  website_and_docs/content/documentation/webdriver/interactions/_index.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1961 added code for frames for csharp
  examples/dotnet/SeleniumDocs/Interactions/FramesTest.cs
  website_and_docs/content/documentation/webdriver/interactions/frames.en.md
  website_and_docs/content/documentation/webdriver/interactions/frames.ja.md
  website_and_docs/content/documentation/webdriver/interactions/frames.pt-br.md
  website_and_docs/content/documentation/webdriver/interactions/frames.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2

#1963 upgraded headers to reflect error messages
  website_and_docs/content/documentation/webdriver/troubleshooting/errors/_index.en.md
  website_and_docs/content/documentation/webdriver/troubleshooting/errors/_index.ja.md
  website_and_docs/content/documentation/webdriver/troubleshooting/errors/_index.pt-br.md
  website_and_docs/content/documentation/webdriver/troubleshooting/errors/_index.zh-cn.md
Labels: documentation, Review effort [1-5]: 2

#1977 added java example code for alert
  examples/java/src/test/java/dev/selenium/interactions/AlertsTest.java
  website_and_docs/content/documentation/webdriver/interactions/alerts.en.md
  website_and_docs/content/documentation/webdriver/interactions/alerts.ja.md
  website_and_docs/content/documentation/webdriver/interactions/alerts.pt-br.md
  website_and_docs/content/documentation/webdriver/interactions/alerts.zh-cn.md
Labels: documentation, enhancement, Review effort [1-5]: 2
